.container {
  background-image: linear-gradient(var(--main-bg), var(--blue-dark-bg)) ,url("../../images/dayne-topkin-y5_mFlLMwJk-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
