:root {
  --main-font: 'Montserrat', sans-serif;

  --space-unit: 1em;
  --space-xxx-small: calc(0.15*var(--space-unit));
  --space-xx-small: calc(0.25*var(--space-unit));
  --space-x-small: calc(0.5*var(--space-unit));
  --space-small: calc(0.75*var(--space-unit));
  --space-medium: calc(1.25*var(--space-unit));
  --space-large: calc(2*var(--space-unit));
  --space-x-large: calc(3*var(--space-unit));
  --space-xx-large: calc(5*var(--space-unit));
  --space-xxx-large: calc(13*var(--space-unit));

  --main-bg: #ecedf3;
  --main-font-color: #9c9da1;
  --yellow-soft: #ffe21d;
  --yellow-dark: #ffd21d;
  --yellow-softer: #ffd21d41;
  --blue-soft: #24afff;
  --blue-dark: #248bff;
  --salmon: #f26c6c;
  --salmon-soft: #f26c6c25;
  --green: #27b667;
  --green-soft: #27b66725;
}
